PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/vinacoteca
JWT_SECRET=super_secret_vinacoteca_key_2026
FRONTEND_URL=http://localhost:5173

# Nodemailer configuration
# For production, define SMTP variables. For local testing, Ethereal mail will be used if left blank.
MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM="Vinacoteca <noreply@vinacoteca.com>"
OWNER_EMAIL=propietari@vinacoteca.com
